vendor/
composer.lock
.DS_Store
*.log
*.tmp
*.swp
*.swo
__pycache__/
*.pyc
node_modules/
.env
.env.local
.env.*.local
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
resources/images/goods/*.jpg
resources/images/goods/*.png
resources/images/goods/*.gif
